# Entornos virtuales
.venv/
venv/
env/

# Archivos Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints/

# Archivos grandes de datos
data/imagenes/
data - copia/imagenes/

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Sistema
.DS_Store
Thumbs.db
